body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.input-container, .webcam-container, .preview-container, #resultsContainer {
    margin: 20px auto;
    padding: 20px;
    background: #2a2a2a;
    border-radius: 8px;
    max-width: 600px;
}

#imageUpload {
    display: none; /* Hide the default file input button */
}

.upload-btn, button {
    padding: 10px 20px;
    background-color: #0f9;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.upload-btn:hover, button:hover {
    background-color: #0c7;
}

#webcamFeed {
    width: 100%;
    max-width: 560px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#imagePreview {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#resultsContainer h2 {
    color: #0f9;
    font-size: 1.8em;
}

#labelList {
    list-style: none;
    padding: 0;
}

#labelList li {
    padding: 8px;
    border-bottom: 1px solid #444;
    text-align: left;
    transition: background-color 0.3s;
}

#labelList li:last-child {
    border-bottom: none;
}
