.suggestions {
  border: 1px solid #0f9;
  background: #111;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 200px;
  color: #0f9;
  z-index: 100;
}

.suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #0f9;
  color: #111;
}
